<div class="container">
<%= link_to 'Voltar', root_path, class: "btn btn-info" %>
<hr>
<h3><u> Todas as categorias de produtos: </u></h3>

<% @product_categories.each do |product_category| %>
 <h3><%= product_category.name %></h3>
 <p><strong><%= product_category.code %></strong></p>
<% end %>
<hr>
<%= link_to 'Registrar uma categoria para o produto', new_product_category_path, class: "btn btn-primary" %>
</div>
