<div class="container">
<%= link_to 'Voltar', product_categories_path, class: "btn btn-info" %>
<hr>
<h4>Categoria:<b> <%= @product_categories.name %></h4>
<h4>Código:<b> <%= @product_categories.code %></h4>
</div>